@import url("https://fonts.googleapis.com/css?family=Solway:400,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Solway", serif;
    background-image: radial-gradient(
        circle,
        rgba(117, 135, 228, 1) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    height: 100vh;
    width: 100vw;
    color: antiquewhite;
}

section {
    height: 500px;
    width: 400px;
    margin: 50px auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    margin: 50px auto;
}

label {
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 0 auto;
}

input {
    display: block;
    margin: 15px auto;
}

#levelLabel {
    display: none;
    margin-left: 27%;
}

#levelInput {
    height: 30px;
    width: 100px;
    font-family: "Solway", serif;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

button {
    display: block;
    font-family: "Solway", serif;
    font-weight: bold;
    font-size: 18px;
    color: antiquewhite;
    line-height: 30px;
    height: 30px;
    width: 80px;
    background-color: rgb(44, 63, 147);
    box-shadow: 2px 2px 2px rgb(125, 151, 238) inset;
    border: 1px solid rgb(4, 39, 104);
    border-radius: 20%;
    margin: 0 auto;
    cursor: pointer;
    align-self: flex-end;
    justify-self: center;
}

#backBtn {
    display: none;
    margin-left: 20%;
}

button:focus {
    outline: none;
}

footer {
    text-align: center;
}
